@keyframes scaleUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal.active {
    visibility: visible;
}

.modal .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: white;
}

.modal.active .container {
    animation: 0.5s scaleUp;
}

.modal .container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8rem;
    color: #27DEBF;
}

.modal .container .close:hover {
    cursor: pointer;
    color: #22c0a6;
}

.modal .container .title {
    text-align: center;
}

.modal .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 3.5rem;
    width: 300px;
}

.modal .form-group {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 0.3rem;
    margin-top: 3rem;
    border-bottom: 2px solid gray;
    color: gray;
    transition: color 0.2s, border-color 0.2s;
}

.modal .form-group label {
    position: absolute;
    left: 1.5rem;
    font-size: 0.8rem;
    transition: transform 0.2s, font 0.2s;
}

.modal .form-group i {
    margin-right: 6px;
}

.modal .form-group input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}

.modal .form-group input::placeholder {
    color: transparent;
}

/* Floating label animation */
.modal .form-group input:focus+label,
.modal .form-group input:not(:placeholder-shown)+label {
    font-size: 0.7rem;
    transform: translateY(-1.4rem);
}

/* Color on focus */
.modal .form-group:focus-within,
.modal .form-group:focus-within input {
    color: #27DEBF;
    border-color: #27DEBF;
}

/* Show invalid */
.modal .form-group:invalid,
.modal .form-group:invalid input {
    color: #de2727;
    border-color: #de2727;
}

.modal .form-more {
    font-size: 0.6rem;
    margin-top: 0.3rem;
    margin: 0.5rem 0 0 auto;
}

.modal .form-more:hover {
    text-decoration: underline;
}

.modal .form-confirm {
    width: 50%;
    padding: 0.7rem 1rem;
    margin-top: 2.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #27DEBF;
    color: white;
    text-align: center;
}

.modal .form-confirm:hover {
    cursor: pointer;
    background-color: #22c0a6;
}