@import "animations.css";
@import "navbar.css";
@import "modal.css";

body {
    margin: 0;
    font-family: 'Rubik';
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

section {
    width: 100vw;
    min-height: 100vh;
}

footer {
    background-color: #1e282c;
    height: 150px;
}